body {
    background-color: rgb(32, 29, 29);
    background-image:linear-gradient(to right, rgb(241, 202, 209), rgb(216, 96, 116)) ;
}

h1 {
    color: rgb(210, 210, 210);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 100px;
    padding: 200px;
}

a {
    color: rgb(151, 77, 113);
    background-color: rgb(214, 119, 151);
    font-size: 20px;
    font-family: monospace;
    padding-left: 5px;
    margin: 0%;
    border-radius: 8%;
}

h2 {
    color: whitesmoke;
    font-size: 40px;
    padding-top:10px;
}

h3 {
    color: whitesmoke;
    font-size: 40px;
}

h4 {
    color: whitesmoke;
    font-size: 20px;
}

h5 {
    color: rgb(206, 99, 152);
    font-size: 15px;
    padding:650;
    padding-top: 10px;
}