body {
    background-color: rgb(32, 29, 29);
}

h1 {
    color: rgb(210, 210, 210);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 100px;
    padding: 200px;
}

a {
    color: rgb(131, 61, 95);
    font-size: 20px;
    padding-left: 5px;
}

h2 {
    color: whitesmoke;
    font-size: 40px;
    padding-top:10px;
}

h3 {
    color: whitesmoke;
    font-size: 40px;
}

h4 {
    color: whitesmoke;
    font-size: 20px;
}

h5 {
    color: rgb(223, 154, 188);
    font-size: 15px;
    padding:650;
    padding-top: 10px;
}